@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-deep: #004d40;
  --color-primary-medium: #00796b;
  --color-primary-light: #009688;
  --color-accent-amber: #ffc107;
}

body {
  font-family: var(--font-sans);
}
